body{
    display: flex;
    flex-direction: column;
}

.box1{
    width: 400px;
    margin-left: 20px;
}

.main{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
img{
    width: 400px;
}

.title{
    display: flex;
    align-items: center;
    height: 30px;
    color: red;
    border-left: 5px solid #ff4102;
}

.box2{
    width: 400px;
    margin-left: 20px;
}

.box3{
    width: 400px;
}

.box4{
    width: 400px;
    margin-left: 20px;
}

.box5{
    width: 400px;
    margin-left: 20px;
}

.box6{
    width: 400px;
}

.p1-title{
    font-weight: 700;
}