.header {
    display: flex;
    width: auto;
    height: 60px;
    background-color: rgb(224, 244, 244);
    border: 1px solid #0f0606;
}

.head-left{
    display: flex;
    /* background-color: aqua; */
    width: 50%;
    box-sizing: content-box;
    align-items: center;
    padding-left: 30px;
    font-size: 25px;
    color: rgb(74, 228, 108);
}

.head-right{
    display: flex;
    width: 50%;
    /* background-color: wheat; */
    flex-direction: row;
    font-size: 19px;
    justify-content: center;
}

.h-right1{
    list-style-type: none;
    position: relative;
    left: 150px;
    top: 15px;
    font-weight: 700;
}
.h-right2{
   list-style-type: none;
    position: relative;
    left: 190px;
    top: 15px;
}
.h-right3{
    list-style-type: none;
    position: relative;
    left: 230px;
    top: 15px;
}

.main{
    display: flex;
    width: 100%;
}
.nav{
    width: 50%;
    height: auto;
}
.m-image{
    width: 50%;
    height: auto;
}
.m-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.m-title{
    font-size: 30px;
}

.title-1 {
    font-weight: 700;
    color: green;
}