h2 {
    border-bottom: 2px solid #999;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-left: 10px;
}

form{
    background-color: rgb(236, 236, 226);
    border: 1px solid #000;
    width: 40%;
}

label{
    display: inline-block;
    margin-left: 20px;
    width: 150px;
}

input[type="text"],
input[type="email"],
input[type="datetime-local"]
{
    width: 350px;
}

textarea{
    width: 350px;
    height: auto;
}

select{
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

button{
    position: relative;
    left: 460px;
    bottom: 10px;
    background-color: #000;
    color: white;
}