.b-head{
    display: flex;
    background-color: black;
    height: 80px;
} 

.head-left{
    display: flex;
    color: white;
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title{
    font-size: 30px;
    position: absolute;
    left: 10px;
    font-weight: 700;
}
.home{
    position: absolute;
    left: 300px;
}
.head-right{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    height: 40px;
    width: 200px;
    border-radius: 8px;
    position: absolute;
    right: 160px;
}
.submit{
    /* display: flex; */
    height: 40px;
    width: auto;
    border-radius: 8px;
    /* justify-content: flex-end; */
    position: absolute;
    right: 100px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.main{
    display: flex;
    position: relative;
}

.m-title{
    left: 30px;
    font-size: 56px;
    display: flex;
    width: 50%;
}

.add{
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    position: absolute;
    right: 100px;
    top:110px;
    background-color: blue;
    color: white;
}

.table{ 
    margin-top: 30px;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

td, th{
    align-items: center;
    vertical-align: middle;
}

.edit{
    color: black;
    background-color: yellow;
}

.del{
    background-color: red;
}

.form{
    display: flex;
    flex-direction: column;
}

.f-head{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.m-form{
    display: flex;
}

.left,
.right{
    width: 50%;
    padding: 20px;
}

.left input,
.right input,
.right select{
    width: 100%;
}

.gender-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.gender-group input{
    width: auto;
}

.save{
    background-color: green;
    color: white;
}

.cancel{
    background-color: gray;
    color: white;
}